body {
  background-color: #f4f6fd;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.footer {
  margin-top: -10px;
  margin-bottom: 10px;
}

.contain {
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 5vh;
  border-radius: 10px;
}
